.title-cards{
    margin-top: 50px;
    /* margin-bottom: 30px; */
    /* padding: 20px; */
    position:relative;
    height: 305px;
    /* max-height: 400px; */
    /* border: 1px solid red; */
    /* gap: 0; */

}
.title-cards h2{
    margin-bottom: 8px;
}
.card-list{
  /* border: 1px solid red; */
    display: flex;
    gap: 40px;
    max-height: 400px;
    /* overflow: scroll; */
    overflow-x: auto;
   /* / overflow-y: visible; */
    /* position: relative; */
    /* z-index: 0; */
    /* scroll-behavior: smooth; */
    padding: 20px 0;
}
.card-list::-webkit-scrollbar
{
    display: none;
    
}
.card-list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}
.card-list .card{
    position: relative;
}
.card-list .card p{
    /* position: absolute; */
    /* bottom: 1px; */
    margin-top: 3px;
    /* right: 15px; */
}

.popup {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 300px;
  height: 600px;

  padding: 16px;
  background: white;
  color: black;

  /* border: 1px solid rgb(212, 5, 5); */
  border-radius: 8px;
  z-index: 100;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  z-index: 10;
  /* margin-left: 8px; */
  box-shadow: 0 10px 20px red;
  height: 200px;
}


.card{
  /* border: 1px solid red; */
    position: fixed;
    height:170px;
     width: 215px;
  flex: 0 0 auto;
  background-color: #111;
  border-radius: 10px;
 
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-left: 16px;
}
.card:hover .popup{
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
    /* visibility: visible; */
}

.card img{
    display: block;
     width: 100%;
  height: auto;
}
.card-info {
  /* padding: 10px; */
  text-align: center;
  color: white;
  transition: opacity 0.3s ease;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  align-items: center;
}


.card-description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  align-items: center;
  text-align: center;
  padding-left: 25px;
  /* border: 1px solid red; */
  
}


.card:hover .card-description {
  opacity: 1;
  max-height: 100px; 
  margin-top: 6px;
  align-items: center;
  margin-left: 11px;
}

.card-description .genre{
    font-size: 13px;
}

.card-description .include{
     font-size: 13px;
     display: flex;
     flex-direction: row;
     gap: 10px;
     /* padding-left: 15px; */
}