.Footer{
    padding: 20px 4%;
    max-width:1000px;
    margin:0 auto;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin:40px 0 ;
}

.footer-icons img{
    width:30px;
    cursor: pointer;
}
.Footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
    font-size: 15px;

}
.text{
    color: gray;
    font-size: 13px;
}
